progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix::after{visibility:hidden;display:block;content:" ";clear:both;height:0;}

html{box-sizing:border-box;}*,*::before,*::after{box-sizing:inherit;}

/* <!-- ================ BASIC STYLES =============== --> */
html {
	font-size: 10px;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7rem;
	line-height: 1.2;
	letter-spacing: 0.1em;
	color: #000000;
	background: #ffffff;
}
h1 {
	font-size: 4rem;
	font-weight: 700;
	color: #D0011B;
	text-transform: uppercase;
	text-align: center;
}
h1::after {
	content:"";
	display: block;
	border-bottom: 7px solid #000000;
	width: 130px;
	margin: 0.3em auto;
}
h2 {
	font-size: 6rem;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
h3 {
  font-size: 5rem;
  line-height: 1.4;
  color: #ffffff;
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 25px rgba(0,0,0,0.9);
}
h4 {  
  font-size: 9rem;
  line-height: 1;
  color: #D0011B;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 25px rgba(0,0,0,0.9);
}
h5 {
	font-size: 2rem;
	color: #ffffff;
	text-align: left;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
p {
	font-size: 1.9rem;
	line-height: 1.5;
	letter-spacing: 0.06rem;
	font-weight: 300;
	text-align: justify;
	margin-top: 1em;
}
a {
	color: white;
	text-decoration: none;
}
.main-title {
	padding-top: 5rem;
	padding-bottom: 3rem;
}
.main-text {
	padding-bottom: 6rem;
}
em {
	font-size: 1.9rem;
	font-weight: 700;
	font-style: normal;
}
.wrapper-black {
	background-color: black;
	margin: 0 auto;
}
.wrapper-copyright {
	background-color: #2c2b2b;
	margin: 0 auto;
}
.wrapper-white {
	background-color: #ffffff;
	margin: 0 auto;
}
.wrapper-grey {
	background-color: #E1E0E0;
	margin: 0 auto;
}
.container {
/* 	background-color: orange;
 */	max-width: 1000px;
	margin: 0 auto;
}
.container-02 {
/* 	background-color: orange;
 */	width: 1000px;
	margin: 0 auto;
}
.container-about {
	width: 1000px;
	margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav nav-top ul li {
	display: inline;
}
.nav ul li {
	display: inline;
}
.nav ul li a {
	font-weight: 300;
	font-size: 1.4rem;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.10em;
}
.nav-bottom ul li {
	display: block;
}
.nav li.current{
	color: red;
}
img,
video {
	max-width: 100%;
}

/* <!-- ================ NAV TOP =============== --> */
.site-nav-top {
	padding: 25px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.paxyl-logo {
	width: 160px;
	margin-right: 7rem;
	margin-left: 2rem;
}
.nav-top a:hover {
	padding-bottom: 6px;
	border-bottom: 4px solid #ffffff;
}
a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}
.nav-top li {
	margin-left: 1.5rem;
	border-bottom: 0px solid #ffffff;
}
.nav-top ul {
	margin-top: 1.5rem;
}
.linkedin {
	width: 35px;
	margin-left: 9rem;
	margin-right: 9rem;
	margin-top: 0.5rem;
}
.linkedin a:hover {
	opacity: 0.5;
}
.langue-nav-top {
	margin-top: 1.5rem;
}
.langue {
	font-weight: 300;
	font-size: 1.3rem;
}

/* <!-- ================ CAROUSEL =============== --> */
.slendr {
	margin-top: 105px;
	height: 100vh;
}
.slider-content-a {
	position: absolute;
	z-index: 1;
	margin-left: 15vw;
	margin-top: 30vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.triangle-btn-carousel-a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.slider-content-b {
	position: absolute;
	z-index: 1;
	margin-left: 15vw;
	margin-top: 30vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.triangle-btn-carousel-b {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.slendr-control {
	margin-bottom: 8rem;
}
/* Overlay */
.slendr-slide:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: ' ';
}
.fa-caret-right {
	color: #ffffff;
	font-size: 9rem;
	margin-left: 5rem;
	margin-right: 2rem;
}
.btn-white {
	border: 2px solid #ffffff;
	padding: 12px 25px;
	color: #ffffff;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
}
.btn-white:hover {
 	background-color: rgba(255, 255, 255, 0.4);
}

/* <!-- ================ A PROPOS =============== --> */

.header-cover-apropos {
	margin-top: 3px;
	background-image: url("../images/paxyl-solutions-apropos-img-sm.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.apropos-intro {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	padding-top: 8rem;
}

/* <!-- ================ PARTENAIRES =============== --> */

.partenaires-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.logo-partenaires {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 8px solid #999898;
	padding: 10px;
	width: 200px;
	height: 200px;
	margin-left: 3rem;
	margin-right: 3rem;
	border-radius: 50%;
	margin-bottom: 6rem;
}
.partenaires {
	width: 90%;
}
.btn-end-section {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 8rem;
}
.btn-black {
	border: 2px solid #000000;
	padding: 15px 30px;
	color: #000000;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
}
.btn-black:hover {
	color: black;
 	background-color: rgb(224, 224, 224);
}

/* <!-- ================ SERVICES =============== --> */

.header-cover-services {
	margin-top: 3px;
	background-image: url("../images/paxyl-solutions-services-img-sm.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.container-02 {
	padding: 50px 0;
}
.services-intro {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	padding-top: 8rem;
}

/* <!-- ================ SOLUTIONS =============== --> */

.header-cover-solutions {
	margin-top: 3px;
	background-image: url("../images/paxyl-solutions-xcloud-img-sm.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.solutions-titre {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	padding-top: 2rem;
}
.solutions-intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.solutions-texte {
	text-align: justify;
}
.btn-intro {
	margin-top: 2rem;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-xcloud {
	margin-right: 2rem;
}
.btn-ensite {
	padding: 15px 50px;
}
.btn-end-red {
	margin-top: 5rem;
}
.btn-red {
	border: 2px solid #000000;
	padding: 15px 50px;
	color: #ffffff;
	background-color: #D0011B;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
}
.btn-red:hover {
	color: #ffffff;
 	background-color: #000000;
}
.logo-xcloud {
	width: 35%;
	margin: 0 auto;
	padding-bottom: 3rem;
}
.em-xcloud {
	font-weight: 700;
	color: #D0011B;
	text-transform: uppercase;	
}
.solutions-list {
	font-size: 1.8rem;
	line-height: 1.5;
	list-style-position: outside;
 	padding-left: 50px;
    text-indent: -40px;
}
.solutions-list li {
	margin-bottom: 1.3rem;
}
.triangle::before {
    content: "▶";
    display: block;
    float: left;
    width: 1.2em;
    color: #D0011B;
    margin-right: 2rem;
}
/* <!-- ================ CARACTERISTIQUES XCLOUD =============== --> */
.caracteristiques-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.logo-caracteristiques {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 8px solid #999898;
	padding: 10px;
	width: 170px;
	height: 170px;
	margin-left: 1.4rem;
	margin-right: 1.4rem;
	border-radius: 50%;
	margin-bottom: 5rem;
}
.caracteristiques-icon {
	width: 65px;
	height: 50px;
	margin-top: 6px;
}
.caract-text p {
	width: 150px;
	text-align: center;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.1;
	margin-top: 0;
}
/* <!-- ================ CLIENTS =============== --> */

.header-cover-clients {
	margin-top: 3px;
	background-image: url("../images/paxyl-solutions-clients-img-sm.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.clients-intro {
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
}
.clients-texte {
	text-align: center;
}

/* <!-- ================ CLIENTS-LOGOS =============== --> */

.clients-logos-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
}
.logo-clients {
	width: 150px;
	margin-right: 3rem;
	margin-bottom: 4rem;
}
.logo-clients:last-child {
	margin-right: 0;
}

/* <!-- ================ TEMOIGNAGES =============== --> */

.temoignages-section {
	display: flex;
	flex-direction: row;
	margin-bottom: 5rem;
}
.temoignages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 8rem;
}
.temoignages-text {
	text-align: center;
}
.temoignages-signature {
	font-style: italic;
	text-align: center;
}
.temoignages:last-child {
	margin-right: 0;
}
.logo-temoignages {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid #999898;
	padding: 10px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin-bottom: 2rem;
}
.btn-reverse-2 {
	border: 2px solid #000000;
	background-color: #ffffff;
	padding: 15px 30px;
	color: #000000;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 75px;
}
.btn-reverse-2:hover {
	color: #ffffff;
 	background-color: #000000;
}

/* <!-- ================ CONTACT =============== --> */

.header-cover-contact {
	margin-top: 3px;
	background-image: url("../images/map-paxyl-red.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}
.container-02 {
	padding: 50px 0;
}
.main-title-service {
	padding-top: 30px;
	margin-bottom: 0;
}
.fa-map-marker {
	color: #ffffff;
	font-size: 5rem;
	text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 42%;
	right: 29.5%;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-delay: 0;
}
.fa-map-marker:hover {
	font-size: 7rem;
	text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	position: absolute;
}

/* <!-- ================ CONTACT FORM =============== --> */

.contact-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center; 
}
input {
	color: #000000;
}
.box-text {
	width: 450px;
	height: 75px;
	margin-bottom: 20px;
	margin-right: 20px;
	border-top: 0px solid #ffffff;
	border-bottom: 5px solid #000000;
	border-right: 0px solid #ffffff;
	border-left: 0px solid #ffffff;
}
.sujet {
	width: 920px;
	height: 75px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-top: 0px solid #ffffff;
	border-bottom: 5px solid #000000;
	border-right: 0px solid #ffffff;
	border-left: 0px solid #ffffff;
}
.message {
	width: 920px;
	height: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-top: 0px solid #ffffff;
	border-bottom: 5px solid #000000;
	border-right: 0px solid #ffffff;
	border-left: 0px solid #ffffff;
}
.send-btn {
	border: 2px solid #000000;
	background-color: #ffffff;
	padding: 15px 50px;
	color: #000000;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 75px;
}
.send-btn:hover {
	color: #000000;
 	background-color: rgb(224, 224, 224);
}

/* <!-- ================ FOOTER =============== --> */
.site-nav-bottom {
	padding: 25px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.logo-footer {
	margin-top: 75px;
	margin-right: 100px;
	margin-left: 2rem;
}
.paxyl-logo-bottom {
	width: 160px;
}
.footer-icon-address {
	display: block;
	margin-top: 50px;
	margin-right: 20px;
}
.footer-icon {
	padding-bottom: 27px;
}
.footer-address {
	padding-top: 10px;
}
.address {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.3;
	text-align: left;
	padding-bottom: 8px;
}
.nav-bottom {
	line-height: 2.2;
}
.nav-bottom a:hover {
	font-weight: 700;
	color: #D0011B;
}
.nav-bottom li {
	margin-left: 110px;
}
.linkedin-bottom {
	margin-top: 10px;
	margin-left: 150px;
}
.linkedin-bottom a:hover {
	opacity: 0.5;
}
.copyright {
	color: #ffffff;
	font-size: 1rem;
	line-height: 3;
	margin-left: 2rem;
}



/* <!-- ================ 768PX PORTAIT ipad AMAZING MEDIA QUERIES =============== --> */

@media (max-width: 768px)
 	and (orientation : portrait)  {
	.container {
		width: 678px;
	}
	.container-02 {
		width: 678px;
	}
	.container-about {
		width: 678px;
	}
	body {
		font-size: 1.6rem;
	}
	h1 {
		font-size: 3rem;
	}
	h1::after {
		border-bottom: 5px solid #000000;
		width: 100px;
	}
	h2 {
		font-size: 4.5rem;
	}
	h3 {
	  	font-size: 4.5rem;
	  	line-height: 1.3;
	}
	h4 {  
	  	font-size: 8rem;
	}
	h5 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.7rem;
		line-height: 1.5;
		margin-top: 0;
	}
	.main-title {
		padding-top: 2rem;
		padding-bottom: 0.5rem;
	}
	.main-text {
		padding-bottom: 3rem;
	}
	em {
		font-size: 1.8rem;
		font-weight: 700;
		font-style: normal;
	}
	p br { 
		display: none;
	}
/* ---------- TOP NAV BAR ---------- */

	.site-nav-top {
		padding: 20px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.paxyl-logo {
		width: 155px;
		margin-top: 1rem;
		margin-left: 6rem;
		margin-right: 6rem;
	}
	.nav-top li {
		margin-left: 1.4rem;
	}
	.nav ul li a {
		font-size: 1.3rem;
	}
	.linkedin {
		width: 30px;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-top: 0.7rem;
	}
	.langue {
		font-size: 1.2rem;
	}

/* ---------- INDEX-CAROUSEL ---------- */
	.slendr {
		margin-top: 145px;
	}
	.slider-content-a {
		margin-left: 18vw;
		margin-top: 25vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.triangle-btn-carousel-a {
		margin-top: 3rem;
		display: flex;
	}
	.slider-content-b {
		margin-left: 18vw;
		margin-top: 25vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.triangle-btn-carousel-b {
		margin-top: 3rem;
		display: flex;
	}
	.fa-caret-right {
		font-size: 8rem;
		margin-left: 0rem;
	}

/* ---------- PARTENAIRES ---------- */

	.logo-partenaires {
		border: 6px solid #999898;
		padding: 12px;
		width: 150px;
		height: 150px;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 4rem;
	}
	.btn-black {
		font-size: 1.5rem;
	}


/* ---------- SERVICES ---------- */
	.services-intro {
		font-size: 2rem;
		padding-top: 6rem;
	}

/* ---------- CLIENTS ---------- */
	.logo-clients {
		width: 140px;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-bottom: 3rem;
	}
	.clients-intro {
    	font-size: 2rem;
	}
	.logo-temoignages {
		border: 6px solid #999898;
		width: 140px;
		height: 140px;
		margin-bottom: 1rem;
	}
	.send-btn,.btn-reverse-2  {
		font-size: 1.5rem;
	}
	.send-btn {
		 margin-bottom: 50px;
	}

/* ---------- SOLUTIONS ---------- */

	.btn-xcloud {
		font-size: 2rem;
		text-align: center;
		padding: 10px 20px;
	}

	.btn-ensite {
		font-size: 2rem;
		text-align: center;
		padding: 10px 40px;
	}
	.btn-red {
		padding: 20px 45px;	
	}
/* ---------- CARACTERISTIQUES XCLOUD ---------- */

	.caract-text p {
		width: 130px;
	}

/* ---------- CONTACT ---------- */

	.fa-map-marker {
		font-size: 4rem;
		text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
		top: 42%;
		right: 25%;
	}
	.box-text,.sujet {
		width: 600px;
		height: 35px;
		border-bottom: 4px solid #000000;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.message {
		width: 600px;
		height: 120px;
		border-bottom: 4px solid #000000;
		margin-right: 0;
	}	

/* ---------- FOOTER ---------- */

		.site-nav-bottom {
			padding: 15px 0;
		}
		.logo-footer {
			margin-top: 75px;
			margin-right: 50px
		}
		.paxyl-logo-bottom {
			width: 140px;
 		}
		.footer-icon-address {
			margin-top: 40px;
			margin-right: 15px;
		}
		.footer-icon {
			padding-bottom: 20px;
		}
		.footer-address {
			padding-top: 10px;
			max-width: 230px;
		}
		.address {
			font-size: 1.4rem;
			line-height: 1.2;
			padding-bottom: 8px;
		}
		.nav-bottom {
			line-height: 2;
		}
		.nav-bottom li {
			margin-left: 30px;
		}
		.linkedin-bottom {
			margin-top: 10px;
			margin-left: 45px;
		}

}

/* <!-- ================ IPHONE LANDSCAPE AMAZING MEDIA QUERIES =============== --> */

@media (max-width: 667px)
and (orientation: landscape) {
	.container {
		width: 550px;
	}
	.container-02 {
		width: 550px;
	}
	.container-about {
		width: 550px;
	}
}
/* <!-- ================ 320PX AMAZING MEDIA QUERIES =============== --> */

@media (max-width: 375px)
and (orientation: portrait) {

	.container {
		width: 295px;
	}
	.container-02 {
		width: 295px;
	}
	.container-about {
		width: 295px;
	}
	body {
		font-size: 1.2rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	h1::after {
		border-bottom: 4px solid #000000;
		width: 100px;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
	  	font-size: 2.5rem;
	  	line-height: 1.2;
	}
	h4 {  
	  	font-size: 3.5rem;
	}
	h5 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.6rem;
		line-height: 1.3;
		text-align: left;
	}
	.main-title {
		padding-top: 2rem;
		padding-bottom: 0.5rem;
	}
	.main-text {
		padding-bottom: 2rem;
	}
	em {
		font-size: 1.6rem;
	}

	.btn-end-section {
		padding-top: 1rem;
		padding-bottom: 5rem;
	}


/* ---------- TOP NAV BAR ---------- */

	.site-nav-top {
		padding: 6px 0;
		justify-content: flex-start;
	}
	.paxyl-logo {
		width: 140px;
		margin-top: 6rem;
		margin-left: 1rem;
		margin-right: 2.5rem;
	}
	.nav-top li {
		margin-left: 1.4rem;
	}
	.nav ul li a {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2.5;
	}
	.nav ul li {
		display: block;
	}
	.linkedin {
		width: 40px;
		margin-left: 1rem;
		margin-right: 3rem;
		margin-top: 0rem;
		margin-bottom: 1rem;
	}
	.langue {
		font-size: 1.2rem;
	}


/* ---------- INDEX-CAROUSEL ---------- */
	.slendr {
		margin-top: 256px;
	}
	.slider-content-a {
		margin-left: 15vw;
		margin-top: 10vh;
	}
	.triangle-btn-carousel-a {
		margin-top: 2rem;
	}
	.slider-content-b {
		margin-left: 15vw;
		margin-top: 10vh;
	}
	.triangle-btn-carousel-b {
		margin-top: 2rem;
	}
	.fa-caret-right {
		font-size: 5rem;
		margin-right: 1rem;
	}
	.btn-white {
		padding: 8px 18px;
		font-size: 1.4rem;
	}s
	.slendr-control {
		margin-bottom: 5rem;
	}
	.slendr-direction {
		display: none;
	}

/* ---------- PARTENAIRES ---------- */

	.logo-partenaires {
		border: 4px solid #999898;
		padding: 10px;
		width: 120px;
		height: 120px;
		margin-left: .5rem;
		margin-right: .5rem;
		margin-bottom: 3rem;
	}

/* ---------- SERVICES ---------- */

		.services-intro {
		    font-size: 1.8rem;
		    padding-top: 4rem;
		    text-align: left;
		}

/* ---------- CLIENTS ---------- */

		.logo-clients {
		    width: 115px;
		    margin-right: 1rem;
		    margin-left: 1rem;
		    margin-bottom: 2rem;
		}
		.temoignages-section {
		    display: flex;
		    flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 1rem;
		}
		.temoignages {
			margin-right: 0;
			margin-bottom: 2rem;
		}
		.logo-temoignages {
		    border: 4px solid #999898;
		    width: 120px;
		    height: 120px;
		}

/* ---------- SOLUTIONS ---------- */

		.solutions-titre {
		    font-size: 1.8rem;
		    text-align: left;
		    padding-top: 4rem;
		}
		.solutions-texte {
			text-align: left;
		}
		.btn-intro {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.btn-xcloud {
			width: 250px;
			height: 60px;
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 2rem;
			padding: 10px 20px;
			margin-right: 0;
		}
		.btn-ensite {
			width: 250px;
			height: 60px;	
			font-size: 1.5rem;
			text-align: center;
			padding: 10px 20px;
		}
		.btn-red {
			width: 250px;
			height: 60px;
			font-size: 1.5rem;
			padding: 18px 20px;
		}
		.logo-xcloud {
			width: 55%;
		}
		.solutions-list {
		    font-size: 1.4rem;
		    line-height: 1.3;
		}



/* ---------- CARATERISTIQUES XCLOUD ---------- */

		.logo-caracteristiques {
			border: 4px solid #999898;
			padding: 10px;
			width: 120px;
			height: 120px;
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 2rem;
		}
		.caracteristiques-icon {
			width: 45px;
			height: 35px;
			margin-top: 5px;
		}
		.caract-text p {
			width: 100px;
			font-size: 1rem;
		}

/* ---------- CONTACT ---------- */

	.fa-map-marker {
		font-size: 4rem;
		top: 42%;
		right: 5%;
	}
	.box-text,.sujet {
		width: 320px;
		height: 40px;
		border-bottom: 2px solid #000000;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.message {
		width: 320px;
		height: 130px;
		border-bottom: 2px solid #000000;
		margin-right: 0;
	}
	.main-title-service {
    	padding-top: 20px;
	}	


/* ---------- FOOTER ---------- */
		.site-nav-bottom {
			padding: 10px 10px;
			justify-content: flex-start;
		}
		.logo-footer {
			margin-top: 10px;
		    margin-right: 0px;
		   	margin-bottom: 20px;
		}
		.footer-icon {
			display: none;
		}
		.linkedin-bottom {
			display: none;
		}
		.nav-bottom ul li a {
			font-weight: 400;
		    line-height: 2.5;
		}
		.nav-bottom li {
			margin-left: 0px;
		}
		.address {
		    margin-bottom: 0px;
		}
		.footer-address {
		    padding-top: 10px;
		    margin-bottom: 20px;
	    }
		h5 {
			display: none;
		}

}